---
import type { GetStaticPaths } from "astro";
import {getCollection} from 'astro:content'
import Document from "../../layouts/Document.astro";
import Main from "../../layouts/Main.astro";
import type { PageSEO } from "../../consts";
const {doc} = Astro.props
export const getStaticPaths = (async () => {
    const docs = await getCollection('notes');
    return docs.map(d => ({
        params: {
            slug: d.slug
        },
        props: {
            doc: d
        }
    }));
}) satisfies GetStaticPaths;
const {Content} = await doc.render()
const page: PageSEO = {
    title: doc.data.title,
    author: doc.data.author ?? "Unknown",
    description: doc.data.description ?? "No description",
    keywords: doc.data.keywords ?? '',
    image: doc.data.coverImage ?? 'https://www.digitalocean.com/_next/static/media/intro-to-cloud.d49bc5f7.jpeg',
    url: Astro.url.href,
    tags: doc.data.tags ?? [],
    pubDate: doc.data.pubDate ?? new Date()
}
---

<Main page={page}>
    <Document {doc}>
        <Content />
    </Document>
</Main>