---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.

import type { PageSEO } from '../consts';
interface Props {
	
	page?: PageSEO
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { page } = Astro.props;
const title = `${page?.title ? `${page.title} |` : ''} Urban Records`
const description = `
	${page?.description ?? 'No Description'}
	${page?.keywords ? ` - Keywords: ${page.keywords}` : ''}
	${page?.author ? ` - Written & Compiled By: ${page.author}` : ''}
	${page?.pubDate ? ` - Published: ${page.pubDate.toDateString()}` : ''}
`.trim()
---
<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Font preloads -->
<link rel="preload" href="/fonts/atkinson-regular.woff" as="font" type="font/woff" crossorigin />
<link rel="preload" href="/fonts/atkinson-bold.woff" as="font" type="font/woff" crossorigin />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={page?.keywords ?? "No Keywords"} />
<meta name="author" content={page?.author ?? "No Author"} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={page?.image ?? 'https://www.digitalocean.com/_next/static/media/intro-to-cloud.d49bc5f7.jpeg'} />
<meta property="og:site_name" content="Urban Records" />
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={page?.image ?? 'https://www.digitalocean.com/_next/static/media/intro-to-cloud.d49bc5f7.jpeg'} />
